*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Mustica";
    src: url('../fonts/musticapro.otf') format('truetype');
}

body{
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Mustica";
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    align-items: center;
    margin: auto;
    text-transform: uppercase;
    background-color: black;
    padding: 16px 32px;
}

nav h2 {
    color: wheat;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.menu {
    flex: 1 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    color: wheat;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1.5px;
    background-color: #003595;
    margin: 20px;
    opacity: 0.8;
    padding: 10px;
    border-radius: 3px;
    transition: background 1s ease;
}

.menu a.is-active, a.is-inactive:hover{
    background-color: #0076FF;
}

.row{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    font-family: 'Mustica';
    padding: 25px;
}

.row_2{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    align-items: center;
    font-family: 'Mustica';
    padding: 25px;
}

.row_2 .card{
    margin-bottom: 100px;
}

.card_image{
    margin-bottom: 20px;
    max-width: 100%;
}

.card{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.card_last{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    padding-bottom: 20px;
}

.card h2{
    margin-bottom: 5px;
}

.card_last h2{
    margin-bottom: 5px;
}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    width: 100%;
    padding-top: 5px;
    color: wheat;
    min-height: 14vh;
}
  
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h2{
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Mustica';
}
  
.footer-content p{
    font-size: 15px;
    font-family: 'Mustica';
}

form{
    font-family: "Mustica";
    font-size: 16px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.button {
    background-color: #0076FF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

input[type=text] {
    width: 100px;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 5px 0;
    background-color: #0076FF;
    color: wheat;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #0076FF;
    border: none;
    font-size: 15px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

@media screen and (max-width: 2560px){
    .row{
        width: 40%;
    }
    .row_2{
        width: 40%;
    }
    .card_image{
        width: 500px;
    }
}

@media screen and (max-width: 1600px){
    .row{
        width: 55%;
    }
    .row_2{
        width: 55%;
    }
    .card_image{
        width: 350px;
    }
}

@media screen and (max-width: 900px){
    .row{
        width: 65%;
    }
    .row_2{
        width: 65%;
    }
    .card_image{
        width: 250px;
    }
}